body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(216, 157, 84, 0.0);
    /* 80% opaque */
    color: #000000;
    padding: 0.625rem;
    height: max-content;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.hamburger-menu,
.close-menu {
    cursor: pointer;
    font-size: 1.875rem;
    margin-right: 1.25rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.user-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;

    img {
        height: 3rem;
        width: 3rem;
        border-radius: 1.5rem;
    }
}

.username {
    margin-right: 0.625rem;
}

.user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #f4f4f4;
    color: #000000;
    box-shadow: 0 0.125rem 0.5rem #d89d54(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    overflow: hidden;
}

.user-menu p {
    margin: 0;
    padding: 0.625rem;
    border-bottom: 0.0625rem solid #bb7f2d;
}

.user-menu button {
    border: none;
    background: none;
    padding: 0.625rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.user-menu button:hover {
    background: #bb7f2d;
}

.logo img {
    width: 4rem;
    height: auto;
}

.logo-text {
    margin-left: 0.625rem;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.side-drawer {
    position: fixed;
    top: 0;
    left: -18rem;
    width: 18rem;
    height: 100%;
    background-color: #f4f4f4;
    //color: #f4f4f4;
    transition: left 0.3s ease;
    padding-top: 3.75rem;
    z-index: 1000;
}

.side-drawer.open {
    left: 0;
}

.side-drawer ul {
    list-style: none;
    padding: 0;
}

.side-drawer li {
    padding: 0.9375rem;
    cursor: pointer;
}

.side-drawer li:hover {
    background-color: #bb7f2d;
    color: #000000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d89d54(0, 0, 0, 0.5);
}

.overlay.open {
    display: block;
}