<div class="header">
    <div class="hamburger-menu" (click)="toggleMenu()">&#9776;</div>
    <div class="logo-container" (click)="navigateHome()">
        <div class="logo">
            <img src="../../../assets/logos/logo_3-removebg-preview.png" alt="AutoDesigner Logo">
        </div>
        <div class="logo-text">
            PARAMETRIX
        </div>
    </div>
    <div class="user-section" #userSection (click)="toggleUserMenu()">
        <span class="user-icon"><img src="../../../assets/user-images/21788.png" alt="">
        </span>
        <span class="username">Wade Wilson</span>
        <div class="user-menu" *ngIf="userMenuOpen">
            <p>Email: deadpool@gmail.com</p>
            <button (click)="navigateToChangePassword()">Change Password</button>
            <button (click)="signOut()">Sign Out</button>
        </div>
    </div>
</div>

<div class="side-drawer" [class.open]="menuOpen">
    <ul>
        <li (click)="navigateTo('/projects')">PROJECTS</li>
        <li (click)="navigateTo('/create-project')">CREATE PROJECT</li>
        <li (click)="navigateTo('/users')">USERS</li>
        <li (click)="navigateTo('/create-user')">CREATE USER</li>
        <li (click)="navigateTo('/input-dragger')">INPUT DRAGGER</li>
    </ul>
</div>

<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>