.form-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    justify-content: space-between;
}

.form-group {
    flex: 1 1 30%;
    /* Ensures three fields per row */
    max-width: 32%;
}