<form [formGroup]="tankDetailsForm">
    <mat-card class="section box-outline" *ngIf="tankSection">
        <h2>Tank details</h2>
        <div class="form-row">
            <div class="form-group" *ngFor="let field of fieldConfigurations" [formGroup]="tankDetailsForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{ field.label }}</mat-label>
                    <ng-container [ngSwitch]="field.type">
                        <mat-select *ngSwitchCase="'dropdown'" [formControlName]="field.name">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <!-- Add more field types here as needed -->
                    </ng-container>
                    <mat-error *ngIf="tankDetailsForm.get(field.name)?.hasError('required')">
                        {{ field.label }} is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="onTankDetailsFormSubmit()"
                [disabled]="!tankDetailsForm.valid">Save</button>
        </div>
    </mat-card>

    <!-- <mat-accordion>
        <div *ngIf="tankDetailsForm.get('tankType')?.value">
            <mat-expansion-panel *ngFor="let imageName of imageList" class="tank-part">
                <mat-expansion-panel-header>
                </mat-expansion-panel-header>

                <app-editable-svg [imageName]="imageName" [inputOnlyMode]="true"
                    (modifiedData)="handleModifiedData($event, imageName)">
                </app-editable-svg>
            </mat-expansion-panel>
        </div>
    </mat-accordion> -->

    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngIf="tankDetailsForm.get('tankType')?.value">
            <div class="accordion-item" *ngFor="let imageName of imageList">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + imageName" aria-expanded="true"
                        [attr.aria-controls]="'collapse' + imageName">
                        {{ imageName }}
                    </button>
                </h2>
                <div [id]="'collapse' + imageName" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <app-editable-svg [imageName]="imageName" [inputOnlyMode]="true"
                            (modifiedData)="handleModifiedData($event, imageName)">
                        </app-editable-svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>