<form [formGroup]="tankDetailsForm">
    <mat-card class="section box-outline" *ngIf="tankSection">
        <h2>Tank details</h2>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Tank type</mat-label>
                <mat-select id="tankType" formControlName="tankType">
                    <mat-option value="Type1">LV cable RH side</mat-option>
                    <mat-option value="Type2">LV cable LH side</mat-option>
                    <mat-option value="Type3">No LV cable box</mat-option>
                </mat-select>
                <mat-error *ngIf="tankDetailsForm.get('tankType')?.hasError('required')">
                    Tank type is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Jacking Pad</mat-label>
                <mat-select id="jackingPad" formControlName="jackingPad">
                    <mat-option value="Type1">Type1</mat-option>
                    <mat-option value="Type2">Type2</mat-option>
                </mat-select>
                <mat-error *ngIf="tankDetailsForm.get('jackingPad')?.hasError('required')">
                    Jacking Pad is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Centre Shifter</mat-label>
                <mat-select id="centreShifter" formControlName="centreShifter">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
                <mat-error *ngIf="tankDetailsForm.get('centreShifter')?.hasError('required')">
                    Centre Shifter is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tank Material</mat-label>
                <mat-select id="tankMaterial" formControlName="tankMaterial">
                    <mat-option value="MS & Steel">MS & Steel</mat-option>
                    <mat-option value="Copper">Copper</mat-option>
                </mat-select>
                <mat-error *ngIf="tankDetailsForm.get('tankMaterial')?.hasError('required')">
                    Tank Material is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="onTankDetailsFormSubmit()"
                [disabled]="!tankDetailsForm.valid">Save</button>
        </div>
    </mat-card>

    <div class="tank-part" *ngIf="tankDetailsForm.get('tankType')?.value">
        <app-editable-svg [imageName]="imageName" [inputOnlyMode]="true"
            (modifiedData)="handleModifiedData($event)"></app-editable-svg>
    </div>
</form>