<form [formGroup]="tankDetailsForm">
    <mat-card class="section box-outline" *ngIf="tankSection">
        <h2>Tank details</h2>
        <div class="form-row">
            <div class="form-group" *ngFor="let field of fieldConfigurations" [formGroup]="tankDetailsForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{ field.label }}</mat-label>
                    <ng-container [ngSwitch]="field.type">
                        <mat-select *ngSwitchCase="'dropdown'" [formControlName]="field.name">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <!-- Add more field types here as needed -->
                    </ng-container>
                    <mat-error *ngIf="tankDetailsForm.get(field.name)?.hasError('required')">
                        {{ field.label }} is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="onTankDetailsFormSubmit()"
                [disabled]="!tankDetailsForm.valid">Save</button>
        </div>
    </mat-card>

    <div class="tank-part" *ngIf="tankDetailsForm.get('tankType')?.value">
        <app-editable-svg [imageName]="imageName" [inputOnlyMode]="true"
            (modifiedData)="handleModifiedData($event)"></app-editable-svg>
    </div>
</form>