.svg-container {
    position: relative;
    display: inline-block;
    align-self: center;
}

.svg-background {
    width: 81rem;
    height: 60.75rem;
}

.draggable {
    position: absolute;
    cursor: move;
    background: rgba(255, 255, 255, 0.9);
    border: 0.5px solid #ccc;
    padding: 3.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    text-align: center;
    //transition: top 0.5s ease-out, left 0.5s ease-out;
}

.draggable input {
    width: 4rem;
    height: 1.5rem;
    background-color: green;
    color: white;
    //font-weight: bolder;
    //font-size: 1.25rem;
    text-align: center;
    border-radius: 6px;
}

.draggable input.modified {
    background-color: red;
    color: white;
}

.save-modified {
    display: flex;
    justify-content: flex-end; // Aligns content to the right
}

.parameter-label {
    font-size: 0.7rem;
    color: black;
}