.svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* or 100vh if full screen */
    overflow: auto;
}

.input-box {
    text-align: center;

    .input-select {
        margin: .5rem;
        padding: 0.5rem .5rem;
        border-radius: var(--button-radius);
    }

    .input-button {
        background-color: #d89d54;
        color: var(--primary-text);
        border: none;
        border-radius: var(--button-radius);
        padding: 0.5rem .5rem;
        margin: .5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

.svg-container {
    position: relative;
    display: inline-block;
}

.svg-background {
    width: 60rem;
    height: 48rem;
}

.draggable {
    position: absolute;
    cursor: move;
    background: #d89d54(255, 255, 255, 0.9);
    border: 0.5px solid #f4f4f4;
    padding: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
    text-align: center;
    //transition: top 0.5s ease-out, left 0.5s ease-out;
}

.draggable input {
    width: 3.5rem;
    height: 1.2rem;
    background-color: green;
    color: #f4f4f4;
    //font-weight: bolder;
    font-size: .8rem;
    text-align: center;
    border-radius: 4px;
}

.draggable input.modified {
    background-color: red;
    color: #f4f4f4;
}

.save-modified {
    display: flex;
    justify-content: flex-end; // Aligns content to the right
}

.parameter-label {
    font-size: 0.5rem;
    color: #000000;
}

.parameter-label-input {
    font-size: 0.6rem;
    color: #000000;
    padding-top: 1.2rem;
    font-weight: bolder;
}