<select [(ngModel)]="selectedImage" (change)="onImageSelect(selectedImage)">
    <option *ngFor="let image of images" [ngValue]="image">{{ image }}</option>
</select>

<button (click)="saveSvgData()">Save</button>

<p>Selected Image: {{ selectedImage }}</p>

<div *ngIf="svgData">
    <div class="svg-container">
        <img #svgImage [src]="svgData?.svgImage" class="svg-background" />

        <div *ngFor="let dim of svgData?.dimensions" class="draggable" cdkDrag
            [ngStyle]="{'top': dim.y + 'rem', 'left': dim.x + 'rem'}" (cdkDragEnded)="onDragEnd($event, dim)">
            <input type="number" [(ngModel)]="dim.defaultValue" />
            <span>{{ dim.label }}</span>
        </div>
    </div>

</div>