body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    /* vertical center */
    align-items: center;
    /* horizontal center */
    z-index: 1;
    /* make sure it stays above background */
    padding: 1.5rem;
    //background-color: rgba(255, 255, 255, 0.1);
    /* optional: slight background tint */
}

.tabs button {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: .5rem;
    margin: 1rem;
    width: 10rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    border-radius: 0.5rem;
    background-color: antiquewhite;
}

.tabs button:hover {
    background-color: #deab63;
}

.full-page-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.full-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head_1 {
    font-size: 2.1rem;
    font-family: 'Bahnschrift Condensed', 'Bahnschrift', sans-serif;
    font-weight: bold;
    color: rgb(40, 80, 181);
}

.head_2 {
    font-size: 1rem;
    color: rgb(87, 82, 82);
}