:root {
    --primary-bg: #9CA2C4;
    --secondary-bg: #7F8BB0;
    --accent-bg: #62749B;
    --highlight-bg: #435585;
    --base-font-size: 16px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem;
    background-color: var(--secondary-bg);
}

.tabs button {
    font-size: 3rem;
    width: 18rem;
    padding: 1.25rem 1.25rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    border-radius: 0.75rem;
}

.tabs button.active {
    background-color: #435585;
    color: white;
}

.tabs button:hover {
    background-color: #BCCCDC;
}