<app-project-details [projectUniqueId]="projectUniqueId" [isEditMode]="isEditMode"
    (transformerSection)="showTransformerDetails($event)" (projectDataLoaded)="projectDataLoaded($event)"
    (createdProjectUniqueId)="createdProjectUniqueId($event)"></app-project-details>

<form [formGroup]="transformerDetailsForm">
    <mat-card class="section box-outline" *ngIf="transformerSection">
        <h2>Transformer details</h2>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Type of transformer</mat-label>
                <mat-select id="transformerType" formControlName="transformerType">
                    <mat-option value="66KV">66KV</mat-option>
                    <mat-option value="221OLTC">221OLTC</mat-option>
                </mat-select>
                <mat-error *ngIf="transformerDetailsForm.get('transformerType')?.hasError('required')">
                    Type of transformer is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Design type</mat-label>
                <mat-select id="designType" formControlName="designType" (selectionChange)="onDesignTypeChange()">
                    <mat-option value="Standard">Standard</mat-option>
                    <mat-option value="Non-standard">Non-standard</mat-option>
                </mat-select>
                <mat-error *ngIf="transformerDetailsForm.get('designType')?.hasError('required')">
                    Design type is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary"
                *ngIf="transformerDetailsForm.get('designType')?.value === 'Standard'"
                (click)="generate()">Generate</button>
            <button *ngIf="transformerDetailsForm.get('designType')?.value === 'Non-standard'" mat-raised-button
                color="primary" (click)="ContinueTransformerDetails()"
                [disabled]="tankSection && transformerSaveButtonVisibility">Save</button>
        </div>
    </mat-card>
</form>
<div *ngIf="tankSection">
    <app-tank-details [transformerName]="transformerName" [tankDetailsData]="tankDetailsData" [isEditMode]="isEditMode"
        [tankSection]="tankSection" [lvTrunkingVisible]="lvTrunkingVisible"
        (tankDetailsformSubmit)="handleTankDetailsFormSubmit($event)"
        (tankPayloads)="handleTankPayloads($event)"></app-tank-details>
</div>

<div *ngIf="lvTrunkingVisible">
    <app-lv-trunking-details [transformerName]="transformerName" [lvTrunkingDetailsData]="lvTrunkingDetailsData"
        [isEditMode]="isEditMode" [lvTrunkingVisible]="lvTrunkingVisible"
        (lvTrunckingDetailsformSubmit)="handleLVTrunkingDetailsFormSubmit($event)"
        (lvTrunckingPayloads)="handleLVTrunkingPayloads($event)"></app-lv-trunking-details>
</div>

<div *ngIf="topCoverVisible">
    <app-top-cover-details [transformerName]="transformerName" [topCoverDetailsData]="topCoverDetailsData"
        [isEditMode]="isEditMode" [topCoverVisible]="topCoverVisible"
        (topCoverFormSubmit)="handleTopcoverDetailsFormSubmit($event)"
        (topCoverPayloads)="handleTopCoverPayloads($event)"></app-top-cover-details>
</div>

<div *ngIf="lvhvTurretVisible">
    <app-hv-lv-turret-details [transformerName]="transformerName" [lvhvTurretDetailsData]="lvhvTurretDetailsData"
        [isEditMode]="isEditMode" [lvhvTurretVisible]="lvhvTurretVisible"
        (lvhvTurretFormSubmit)="handlelvhvTurretDetailsFormSubmit($event)"
        (lvhvTurretPayloads)="handlelvhvTurretPayloads($event)"></app-hv-lv-turret-details>
</div>

<div *ngIf="conservatorSupportVisible">
    <app-conservator-support-details [transformerName]="transformerName"
        [conservatorSupportDetailsData]="conservatorSupportDetailsData" [isEditMode]="isEditMode"
        [conservatorSupportVisible]="conservatorSupportVisible"
        (conservatorSupportFormSubmit)="handleConservatorSupportDetailsFormSubmit($event)"
        (conservatorSupportPayloads)="handleConservatorSupportPayloads($event)"></app-conservator-support-details>
</div>

<div *ngIf="conservatorVisible">
    <app-conservator-details [transformerName]="transformerName" [conservatorDetailsData]="conservatorDetailsData"
        [isEditMode]="isEditMode" [conservatorVisible]="conservatorVisible"
        (conservatorFormSubmit)="handleConservatorDetailsFormSubmit($event)"
        (conservatorPayloads)="handleConservatorPayloads($event)"></app-conservator-details>
</div>

<div class="button-gen"
    *ngIf="transformerDetailsForm.get('designType')?.value === 'Non-standard' && (tankDetailsData && lvTrunkingDetailsData && topCoverDetailsData) || (tankInventorPayload || lvTrunkingInventorPayload || topCoverInventorPayload || lvhvTurretInventorPayload || conservatorSupportInventorPayload || conservatorInventorPayload)">
    <button mat-raised-button color="primary" (click)="generate()">Generate</button>
</div>