:host {
    display: flex;
    flex-direction: column;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

router-outlet {
    flex: 1;
    padding-top: 4rem;
    overflow-y: auto;
}