<div class="padding-main">
    <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .svg" />
    <button (click)="addInputField()">Add Input Field</button>
    <button (click)="generateSVG()">Generate SVG</button>
    <button (click)="saveSVG()">Save SVG</button>

    <form [formGroup]="svgForm" (ngSubmit)="generateSVG()">
        <div class="container">
            <!-- Input Fields Management Panel -->
            <div class="fields-panel">
                <h3>Input Fields</h3>
                <div *ngFor="let field of inputFields; let i = index" class="field-item">
                    <div class="field-controls">
                        <input type="text" [value]="field.formControlName" placeholder="Placeholder"
                            (input)="updateFieldName(i, $event)">
                        <input type="text" [formControlName]="field.formControlName" placeholder="Value"
                            (input)="onInputChange(field, i)">
                        <button type="button" (click)="removeField(i)">Remove</button>
                    </div>
                </div>
                <button type="button" (click)="addInputField()">Add Field</button>
            </div>

            <!-- Image Container -->
            <div class="image-container">
                <ng-container *ngIf="imageUrl">
                    <img [src]="imageUrl" alt="Tank Details" class="tank-image" />
                </ng-container>
                <div *ngFor="let field of inputFields; let i = index" class="input-field draggable"
                    [style.left.px]="field.x" [style.top.px]="field.y" (mouseenter)="onHover(field)"
                    (mouseleave)="onLeave(field)">
                    <input type="text" [formControlName]="field.formControlName"
                        [style.backgroundColor]="field.isEdited ? 'red' : 'green'" style="color: white;"
                        (input)="onInputChange(field, i)">
                </div>
            </div>
        </div>
    </form>
</div>