<form [formGroup]="lvTrunckingDetailsForm">
    <mat-card class="section box-outline" *ngIf="lvTrunkingVisible">
        <h2>LV truncking details</h2>
        <div class="form-row">
            <div class="form-group" *ngFor="let field of fieldConfigurations" [formGroup]="lvTrunckingDetailsForm">
                <mat-form-field appearance="outline">
                    <mat-label>{{ field.label }}</mat-label>
                    <ng-container [ngSwitch]="field.type">
                        <mat-select *ngSwitchCase="'dropdown'" [formControlName]="field.name">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <!-- Add more field types here as needed -->
                    </ng-container>
                    <mat-error *ngIf="lvTrunckingDetailsForm.get(field.name)?.hasError('required')">
                        {{ field.label }} is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="onlvTrunckingDetailsFormSubmit()"
                [disabled]="!lvTrunckingDetailsForm.valid">Save</button>
        </div>
    </mat-card>

    <mat-accordion>
        <div *ngIf="lvTrunckingDetailsForm.get('flangeType')?.value">
            <mat-expansion-panel *ngFor="let imageName of imageList" class="tank-part">
                <mat-expansion-panel-header>
                </mat-expansion-panel-header>

                <app-editable-svg [imageName]="imageName" [inputOnlyMode]="true"
                    (modifiedData)="handleModifiedData($event, imageName)">
                </app-editable-svg>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</form>